
button {

    width: 40px;
    height: 40px;
    border-radius: 10px;

}

td, th {
    padding: 1px;
}

body {
    text-align: center;

}
table {
    margin: auto;
}
input {
    border-radius: 10px;
    width: 170px;
    height: 40px;
    background-color: lightgreen;
}
